<div class="w-full pt-8">
  <div class="max-w-lg mx-auto">
    <h1 class="text-2xl text-gray-700 font-semibold tracking-wide text-center">
      Regsiter
    </h1>
    <div class="mt-8">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerUser()"
        class="space-y-6"
      >
        <div class="flex flex-col gap-3">
          <label for="name" class="text-sm text-gray-500"
            >Name
            <sup>*</sup>
          </label>
          <input
            type="text"
            id="name"
            autocomplete="off"
            formControlName="name"
            class="px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-300 text-gray-600 text-sm"
            style="text-transform: capitalize"
          />
          <div
            *ngIf="
              registerForm.controls['name']?.invalid &&
              (registerForm.controls['name']?.dirty ||
                registerForm.controls['name']?.touched)
            "
          >
            <small
              *ngIf="registerForm.controls['name']?.hasError('required')"
              class="text-sm text-red-400"
              >Name is required</small
            >
            <small
              *ngIf="registerForm.controls['name']?.hasError('pattern')"
              class="texr-sm text-red-400"
              >Name must contain only characters</small
            >
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <label for="email" class="text-sm text-gray-500"
            >Email <sup>*</sup></label
          >
          <input
            type="email"
            id="email"
            autocomplete="off"
            formControlName="email"
            class="px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-300 text-gray-600 text-sm"
          />
          <div
            *ngIf="
              registerForm.controls['email']?.invalid &&
              (registerForm.controls['email']?.dirty ||
                registerForm.controls['email']?.touched)
            "
          >
            <small
              *ngIf="registerForm.controls['email']?.hasError('required')"
              class="text-sm text-red-400"
              >Email is required</small
            >
            <small
              *ngIf="registerForm.controls['email']?.hasError('email')"
              class="text-sm text-red-400"
              >Invalid email address</small
            >
          </div>
        </div>

        <div class="flex flex-col gap-3">
          <label for="password" class="text-sm text-gray-500"
            >Password <sup>*</sup></label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-300 text-gray-600 text-sm"
          />
          <div
            *ngIf="
              registerForm.controls['password']?.invalid &&
              (registerForm.controls['password']?.dirty ||
                registerForm.controls['password']?.touched)
            "
          >
            <small
              *ngIf="registerForm.controls['password']?.hasError('required')"
              class="text-sm text-red-400"
              >Password is required</small
            >
            <small
              *ngIf="registerForm.controls['password']?.hasError('minlength')"
              class="text-sm text-red-400"
              >Password must be 8 character&apos;s long</small
            >
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <label for="confirm-password" class="text-sm text-gray-500"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirm-password"
            formControlName="confirmPassword"
            class="px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-300 text-gray-600 text-sm"
          />
          <div
            *ngIf="
              registerForm.getError('mismatch') &&
              registerForm.controls['confirmPassword']?.touched
            "
          >
            <small class="text-sm text-red-400"
              >Password&apos; do not match</small
            >
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <label for="role" class="text-sm text-gray-500">User Role</label>
          <select
            name="role"
            id="role"
            formControlName="role"
            class="px-4 py-2 border border-gray-200 cursor-pointer rounded-md bg-gray-50 w-72 focus:outline-none focus:ring-1 focus:ring-blue-300 text-gray-600 text-sm"
          >
            <option value="" disabled hidden>Choose a role</option>
            <option value="regular" selected>Regular User</option>
            <option value="super">Super User</option>
          </select>
        </div>
        <div class="flex flex-col gap-3">
          <label for="avatar" class="text-sm text-gray-500"
            >Profile Image
          </label>
          <p-fileUpload
            id="avatar"
            name="avatar[]"
            accept="image/*"
            [customUpload]="true"
            [showUploadButton]="false"
            [showCancelButton]="false"
            (onSelect)="onImageFileChange($event)"
          ></p-fileUpload>
        </div>
        <div
          *ngIf="errorMessage"
          class="px-3 py-2 bg-red-400 text-sm text-gray-50 rounded-lg"
        >
          <p>{{ errorMessage }}</p>
        </div>
        <div class="mt-4">
          <button
            type="submit"
            class="inline-flex justify-center items-center px-4 py-3 w-full bg-black text-gray-50 rounded-lg hover:bg-black/90 shadow-md transition-colors duration-200 disabled:opacity-50 cursor-pointer disabled:cursor-not-allowed"
            [disabled]="loading || registerForm.invalid"
          >
            <span *ngIf="!loading"> Sign Up </span>
            <span *ngIf="loading">
              <svg
                width="24"
                height="24"
                viewBox="0 0 38 38"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <linearGradient
                    x1="8.042%"
                    y1="0%"
                    x2="65.682%"
                    y2="23.865%"
                    id="a"
                  >
                    <stop stop-color="#fff" stop-opacity="0" offset="0%" />
                    <stop
                      stop-color="#fff"
                      stop-opacity=".631"
                      offset="63.146%"
                    />
                    <stop stop-color="#fff" offset="100%" />
                  </linearGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <g transform="translate(1 1)">
                    <path
                      d="M36 18c0-9.94-8.06-18-18-18"
                      id="Oval-2"
                      stroke="url(#a)"
                      stroke-width="2"
                    >
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite"
                      />
                    </path>
                    <circle fill="#fff" cx="36" cy="18" r="1">
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite"
                      />
                    </circle>
                  </g>
                </g>
              </svg>
            </span>
          </button>
        </div>
        <div class="inline-flex justify-center items-center gap-2 w-full">
          <p class="text-sm text-gray-600">Already have an account?</p>
          <a
            routerLink="/login"
            class="text-blue-400 underline underline-offset-1"
            >Login</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
