table {
  border-collapse: collapse;
}

th,
td {
  @apply p-2 border border-gray-300 text-sm text-gray-600;
}

tr > th {
  @apply bg-gray-200 font-semibold;
}

table button {
  outline: none;
  border: none;

  @apply px-4 py-2 rounded-md text-gray-100 hover:bg-opacity-80 transition-colors duration-150;
}

table button:first-child {
  @apply bg-blue-400 mr-3;
}

table button:last-child {
  @apply bg-red-400;
}
