<div class="pt-12 grid place-items-center">
  <h2 class="my-6 text-lg text-gray-600">Users</h2>
  <div *ngIf="users">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th *ngIf="currentUser?.role === 'admin'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role | titlecase }}</td>
          <td [ngClass]="user.isActive ? 'text-green' : 'text-red'">
            {{ user.isActive ? 'Approved' : 'Pending' }}
          </td>
          <td *ngIf="currentUser?.role === 'admin'" class="flex">
            <button *ngIf="!user.isActive" (click)="activateUser(user.id)">
              Approve
            </button>
            <button *ngIf="user.isActive" (click)="deactivateUser(user.id)">
              Disapprove
            </button>
            <button [disabled]="isLoading" (click)="deleteUser(user.id)">
              <span>Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
