<div class="pt-12 grid place-items-center">
  <div class="table-container">
    <p-table
      [value]="users"
      [lazy]="true"
      (onLazyLoad)="loadUserData($event)"
      [loading]="isLoading"
      [totalRecords]="totalRecords"
      responsiveLayout="true"
      [paginator]="true"
      [rows]="5"
    >
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <span class="text-2xl">List of Users</span>
          <filter (selectUserEvent)="selectUser($event)"></filter>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columns; let i = index">
            {{ col.header }}
          </th>
          <th *ngIf="currentUser?.role === 'admin'"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            {{ user.name }}
          </td>
          <td>
            <div class="relative w-16 h-16 rounded-full overflow-hidden">
              <img
                [src]="user.avatar?.imageUrl || '/assets/placeholder.png'"
                alt="user.name"
                class="absolute block top-0 left-0"
              />
            </div>
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.role }}
          </td>
          <td>
            <span
              [ngClass]="user.isActive ? 'badge approved' : 'badge pending'"
            >
              {{ user.isActive ? 'Approved' : 'Pending' }}
            </span>
          </td>
          <td *ngIf="currentUser?.role === 'admin'">
            <button
              *ngIf="!user.isActive"
              pButton
              label="Approve"
              icon="pi pi-check-circle"
              (click)="activateUser(user.id)"
              class="button status"
            ></button>
            <button
              *ngIf="user.isActive"
              pButton
              label="Disapprove"
              icon="pi pi-times-circle"
              (click)="deactivateUser(user.id)"
              class="button status"
            ></button>
            <button
              pButton
              label="Delete"
              icon="pi pi-trash"
              (click)="deleteUser(user.id)"
              class="button p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div>Total number of users {{ totalRecords }}</div>
      </ng-template>
    </p-table>
  </div>
</div>
